.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdownContent {
    padding-right: 10px;
    display: none;
    min-width: 125px;
    border-right: 3px solid var(--primary);
    position: absolute;
    top: 32px;
    right:0px;
    z-index: 1;
}

.dropdownContent li:not(:last-of-type) {
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn span {
    line-height: 31px;
}

.btn .center {
    flex-grow: 1;
    text-align: center;
}