@import './reset.css';

:root {
  --secondary-3: #414141;
  --primary: #025162;
}

body {
  font-family: 'Manrope', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

.block {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 115px;
  padding-right: 115px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stickyRight {
  flex-grow: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn {
  border: 0;
  border-radius: 4px;
  background-color: var(--primary);
  cursor: pointer;
}

.btn span {
  font-family: inherit;
  font-size: 1.15em;
  font-weight: 600;
}

.btn * {
  color: #FFFF;
}